name: MLflow CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  mlflow-run:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v3

      # Install micromamba (pengganti conda)
      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: conda.yaml
          cache-environment: true
          cache-downloads: true

      # Install MLflow (kadang tidak ikut masuk env)
      - name: Ensure MLflow Installed
        run: |
          micromamba install -y -n ihsg-mlflow-env mlflow
        shell: bash

      # Debug environment
      - name: Check Python & MLflow
        run: |
          micromamba run -n ihsg-mlflow-env python --version
          micromamba run -n ihsg-mlflow-env mlflow --version
        shell: bash

      # Jalankan MLflow Project
      - name: Run MLflow Project
        run: |
          echo "Running MLflow Project..."
          micromamba run -n ihsg-mlflow-env mlflow run . -P data_path=data_clean.csv
        shell: bash
