name: CI - Model Retraining

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: "3.10"
          activate-environment: sml_env
          environment-file: MLProject/conda.yaml
          use-mamba: true

      - name: Install mlflow (ensure inside conda env)
        shell: bash -l {0}
        run: |
          conda activate sml_env
          pip install mlflow==2.19.0

      - name: Verify environment
        shell: bash -l {0}
        run: |
          conda activate sml_env
          python --version
          mlflow --version

      - name: Run MLflow Project
        working-directory: MLProject
        shell: bash -l {0}
        run: |
          conda activate sml_env
          mlflow run .

      - name: Upload mlruns
        uses: actions/upload-artifact@v4
        with:
          name: mlruns
          path: MLProject/mlruns
