name: MLflow CI Training

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: 3.10
        auto-update-conda: true
        environment-file: MLProject/conda.yaml
        activate-environment: ml_ci_env

    - name: Install MLflow
      run: pip install mlflow

    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run .

    - name: Upload model artifact
      uses: actions/upload-artifact@v4
      with:
        name: trained-model
        path: MLProject/mlruns
