name: MLflow CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  mlflow-run:
    runs-on: ubuntu-latest

    steps:
      # -----------------------
      # 1. Checkout Repository
      # -----------------------
      - name: Checkout code
        uses: actions/checkout@v4

      # -----------------------
      # 2. Install Miniconda
      # -----------------------
      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: "3.10"
          activate-environment: mlflow-env
          environment-file: conda.yaml
          use-mamba: true

      # -----------------------
      # 3. Verify Conda
      # -----------------------
      - name: Check Conda
        shell: bash -l {0}
        run: |
          conda info
          conda list

      # -----------------------
      # 4. Run MLflow Project
      # -----------------------
      - name: Run MLflow Project
        shell: bash -l {0}
        run: |
          echo "Running MLflow..."
          mlflow run . -P data_path=data_clean.csv

      # -----------------------
      # 5. Upload MLflow Artifacts
      # -----------------------
      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlruns
          path: mlruns
